**/bin/
**/obj/

# User-specific & IDE files
*.user
*.userosscache
*.sln.docstates
.vscode/
.vs/
.idea/
*.suo

# Local configuration & secrets
appsettings*.Development.json
appsettings.Secrets.json

.env
*.txt
*.png
